
body {
  min-height: 100vh;
  padding-top: 0px;
  background-color: #0B0B3B; 
}

#cctext{
  color: white;
  font-size: 100px;
}

#neighborhoodsky{
	height: 300vh;
}

#neighborhood{
  margin-top: -500px;
}

#sky{
	padding-bottom: 80px;
	opacity: 0;
}

#treeline{
  position: absolute;
  padding-top: 270px;
  min-height: 30px;
  top:-3%;
}

#yard{
	margin-left: -600px;
}